%roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

%manrope-400 {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

$lightBlue: #E9EEF2;
$blue: #41A7F2;
$lightGrey: #F7F7F6;
$grey: #9F9F9F;
$white: #FFFFFFFF;
$dark: #222222;
$inputHeight: 45px;