@import "./_global";

.auth {
  min-height: 100vh;

  &__data {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
      width: 500px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 15px;
    @extend %roboto-400;
    font-size: 24px;
    text-align: center;
  }

  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__label {
    position: relative;
    display: block;
  }

  &__input {
    width: 100%;
    height: $inputHeight;
    border: none;
    background: $lightGrey;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    transition: background .3s;

    &:focus {
      background: $lightBlue;
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &-title {
      position: absolute;
      display: inline-block;
      z-index: 1;
      transform: translateY(calc($inputHeight / 4)) translateX(10px);
      font-size: 18px;
      color: $grey;
      transition: transform, font-size, color, .3s;

      &-up {
        font-size: 14px;
        transform: translateY(-17px) translateX(0);
        color: $blue;
      }
    }
  }

  &__submit {
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    background: $blue;
    color: $white;
    cursor: pointer;
    margin: 0 auto;
  }
}

.messenger {
  display: grid;
  grid-template-columns: .3fr 1fr;
  max-height: 100vh;

  &-main {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    max-height: inherit;

    &__header {
      padding: 10px;
      display: flex;
      flex-direction: column;
      background: $lightGrey;

      &-title {
        @extend %roboto-400;
        margin-bottom: 10px;
        text-align: center;
      }

      &-members {
        font-size: 14px;
        @extend %roboto-400;
        color: $grey;
      }
    }

    &__chat {
      padding: 10px;
      overflow-x: hidden;
      overflow-y: auto;

      &-messages {
        display: flex;
        flex-direction: column;
      }

      &-message {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        background: $lightGrey;
        padding: 10px;
        border-radius: 5px;

        &-my {
          background: $blue;
          align-self: flex-end;
          
          p {
            color: $white;
          }
        }

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        &-header {
          margin-bottom: 5px;
        }

        &-author-name {
          @extend %roboto-400;
          color: $blue;
        }

        &-text {
          line-height: 24px;
        }
      }
    }

    &__area-write {
      display: flex;
      padding: 10px;
      height: 120px;
    }

    &__input-message {
      width: 100%;
      height: 100%;
      border: none;
      background: $lightGrey;
      transition: background .3s;
      padding: 10px;
      border-radius: 10px;

      &:focus {
        background: $lightBlue;
      }
    }
  }
}

.sidebar-rooms {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: $lightBlue;

  &__header {
    margin-bottom: 15px;
  }

  &__search {
    &-input {
      width: 100%;
      height: 30px;
      background: $white;
      padding: 10px;
      font-size: 15px;
      border-radius: 5px;
      border: none;
    }
  }

  &__main {
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }

  &__room {
    padding: 10px;
    border-radius: 10px;
    background: $white;
    cursor: pointer;

    &--active {
      background: $blue;
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &-picture {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    &-inner {
      display: grid;
      grid-template-columns: .2fr .8fr;
    }

    &-block {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    &-title {
      font-size: 14px;
      @extend %manrope-400;
      margin-right: 5px;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-messages-count {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      padding: 3px;
      border-radius: 50%;
      font-size: 10px;
      @extend %roboto-400;
      width: 22px;
      height: 22px;
      background-color: $blue;
    }
  }
}